body{
   margin: 0;
   padding: 0;
   background-color: #ded;
}

form.auth {
   display: inline;
}

nav {
   background-color: #ddd;
}

footer {
   font-weight: 80%;
   background-color: #eee;
   color: #444;
}
